<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:tx="http://www.springframework.org/schema/tx" 
       xmlns:aop="http://www.springframework.org/schema/aop" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd 
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"> 


	<bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
	    <property name="driverClass" value="${jdbc.driverClassName}" />
	    <property name="jdbcUrl" value="${jdbc.url}"/>
	    <property name="username" value="${jdbc.username}"/>
	    <property name="password" value="${jdbc.password}"/>
	    <property name="maxConnectionsPerPartition" value="${jdbc.maxConn}"/>
	    <property name="minConnectionsPerPartition" value="${jdbc.minConn}"/>
	    <property name="partitionCount" value="${jdbc.parCount}"/>
	    <property name="acquireIncrement" value="${jdbc.acquireIncrement}"/>
	    <property name="statementsCacheSize" value="${jdbc.statementsCacheSize}"/>
	    <property name="releaseHelperThreads" value="${jdbc.releaseHelperThreads}"/>
    </bean>
	
	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
	    <property name="configLocation" value="/WEB-INF/classes/sqlmap-config.xml" />
	    <property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource">
			<ref bean="dataSource"></ref>
		</property>
	</bean>

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
	    <tx:attributes>
	        <tx:method name="get*" read-only="true" />
	        <tx:method name="insert*" rollback-for="Exception" />
	        <tx:method name="add*" rollback-for="Exception" />
	        <tx:method name="addOrUpdate*" rollback-for="Exception" />
	        <tx:method name="del*" rollback-for="Exception" />
	        <tx:method name="update*" rollback-for="Exception" />
	    </tx:attributes>
	</tx:advice>
	<aop:config proxy-target-class="true">
	    <aop:pointcut id="serviceMethod" expression="execution(* com.itest.service.*Service.*(..))" />
	    <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethod" />
	</aop:config>
	
	 <bean id="baseDAO" class="com.itest.dao.impl.BaseDAO">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="userInfDAO" class="com.itest.dao.impl.UserInfDAOImpl" parent="baseDAO"></bean>
	
</beans>